/* Импорт мобильных исправлений для всего приложения */
@import url('./styles/MobileFixes.css');

body {
  margin: 0;
  padding: 0;
 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FFFFFF;
}

html {
  margin: 0;
  padding: 0;
  background-color: #FFFFFF;
}

* {
  box-sizing: border-box;
}

code {
}
